@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";
  --font-body: "Inter", "sans-serif";

  --color-primary: #930df2;
  --color-background-light: #f7f5f8;
  --color-background-dark: #1b1022;

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}



@layer base {
  body {
    @apply font-body antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}

/* Material Symbols fix */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}